## 2. Image

![Bunny](https://upload.wikimedia.org/wikipedia/commons/8/8a/SNOWSHOE_HARE_%28Lepus_americanus%29_%285-28-2015%29_quoddy_head%2C_washington_co%2C_maine_-01_%2818988734889%29.jpg)

In [2]:
import pandas as pd

In [3]:
URL = 'https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701'
hares = pd.read_csv(URL)

In [4]:
hares.shape

(3380, 14)

In [5]:
hares.dtypes

date           object
time           object
grid           object
trap           object
l_ear          object
r_ear          object
sex            object
age            object
weight        float64
hindft        float64
notes          object
b_key         float64
session_id      int64
study          object
dtype: object

Note `date` column is object type

In [9]:
hares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3380 entries, 0 to 3379
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3380 non-null   object
 1   time        264 non-null    object
 2   grid        3380 non-null   object
 3   trap        3368 non-null   object
 4   l_ear       3332 non-null   object
 5   r_ear       3211 non-null   object
 6   sex         3028 non-null   object
 7   age         1269 non-null   object
 8   weight      2845 non-null   float64
 9   hindft      1633 non-null   float64
 10  notes       243 non-null    object
 11  b_key       3333 non-null   float64
 12  session_id  3380 non-null   int64
 13  study       3217 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 369.8+ KB

In [17]:
print("Minimum Weights (g) & Hind Feet Ratio:")
print(f'{min(hares.weight)}g')
print(f'{min(hares.hindft)}')
print("Maximum Weights (g) & Hind Feet Ratio:")
print(f'{max(hares.weight)}g')
print(f'{max(hares.hindft)}')

Minimum Weights (g) & Hind Feet Ratio:
0.0g
60.0
Maximum Weights (g) & Hind Feet Ratio:
2365.0g
160.0